{% extends 'base.html.twig' %}

{% block title %}L.D.D.A{% endblock %}

{% block body %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

        :root {
            --white: #ffffff;
            --blue: rgb(230, 247, 255);
            --clearBlue: rgb(0, 123, 181);
            --darkblue: rgb(0, 123, 181);
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


        .logo{
            justify-content: center;
            padding-top: 5rem;

        }
        ul {
            list-style: none;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        body {
            font-family: "Inter", sans-serif;
            text-align: center;
            padding: 20px 20px;
            color: var(--white);
        }
        .logo{
            justify-content: center;



        /* MAIN STYLES
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
        .nav {
            position: relative;
            display: flex;
            justify-content: center;
            max-width: 400px;
            padding-bottom: 20px;
            border-radius: 5px 5px 25px 25px;
            margin: 210px auto 0;
        }

        .nav [type="checkbox"] {
            position: absolute;
            left: -9999px;
        }
        .label{

        }


        .nav [type="checkbox"] + label {
            position: relative;
            width: 75px;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            cursor: pointer;
            z-index: 1;
            background: var(--blue);
            transform: translateY(-50%);
            transition: all 0.2s;
            border-radius: 50%;

        }

        .nav [type="checkbox"] + label {
            background: var(--clearBlue);
            border-radius: 50%;

        }

        .menu li {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.4s;
        }

        .menu li:nth-child(1) {
            transition-delay: 0.2s;
        }

        .menu li:nth-child(2) {
            transition-delay: 0.15s;
        }

        .menu li:nth-child(3) {
            transition-delay: 0.1s;
        }

        .menu li:nth-child(4) {
            transition-delay: 0.05s;
        }

        .menu li a {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--blue);
        }

        .menu li a span {
            top: 0;
            position:absolute;
            transform: translateY(calc(-100% - 5px));
            font-size: 14px;
            opacity: 0;
            transition: opacity 0.3s;
            color: var(--darkblue);
        }

        .nav input:checked + label {
            background: var(--darkblue);
            transform: translateY(calc(-50% + 4px));
        }

        .nav input:checked ~ .menu li:nth-child(1) {
            top: -210px;
            transition-delay: 0.1s;
        }

        .nav input:checked ~ .menu li:nth-child(2) {
            top: -160px;
            left: calc(50% - 75px);
            transition-delay: 0.2s;
        }

        .nav input:checked ~ .menu li:nth-child(3) {
            top: -160px;
            left: calc(50% + 75px);
            transition-delay: 0.3s;
        }

        .nav input:checked ~ .menu li:nth-child(4) {
            top: -110px;
            transition-delay: 0.4s;
        }

        .nav input:checked ~ .menu li a span {
            opacity: 1;
            transition-delay: 0.9s;
        }

        img{
            opacity: 1;
        }



    </style>
    <img class="logo" src="{{ asset('assets/LDDA-logo.png') }}" width="25%">
$
    <nav class="nav">
        <input id="menu" type="checkbox">
        <label for="menu">Menu</label>
        <ul class="menu">
            <li>
                <a href="/users">
                    <img src="{{ asset('assets/register.png') }}" width="90%">

                    <span>Se connecter</span>
                </a>
            </li>
            <li>
                <a href="/activities">
                    <img src="{{ asset('assets/activities.png') }}" width="90%">

                    <span>Activités</span>
                </a>
            </li>
            <li>
                <a href="/friend/group">
                    <img src="{{ asset('assets/groupsIcon.png') }}" width="90%">

                    <span>Groupes</span>
                </a>
            </li>

            <li>
                <a href="/users/new">
                    <img src="{{ asset('assets/login.png') }}" width="90%">

                    <span>S'inscrire</span>
                </a>
            </li>
        </ul>
    </nav>


    </footer>
{% endblock %}
